{% extends 'app/base.html' %}  
{% block content %}

<style>
.container{
  margin-top:30px;
}
.text{
  font-size:40px;
}
</style>
<legend align="center" class="text"><b> List For Assigned Teacher and Student </b></legend>

<section class='text-left container'>
  <button href="" class="btn btn-primary" type="submit">
    <a href="{% url 'home' %}" style="color:white;" > Home</a>
  </button>
</section>

<div class="container">
  {% if object_list %}
  <table class="table table-striped table-bordered table-hover table-dark">
      <thead>
          
          <tr>
              <th scope="col">Sr.no.</th>
              <th scope="col">Student Name</th>
              <th scope="col">Teacher Name</th>
              <th scope="col">Star Student</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
          </tr>
      </thead>
    
      {% for assign in object_list %}
      <tbody>
          
          <tr>
             
              <th scope="row">{{forloop.counter}}</th>
              <td>{{assign.student}}</td>
              <td>{{assign.teacher}}</td>
              <td>
                <a href="#">
                    <div class="form-check">
                        {% if assign.is_star == True %}
            
                        <a href='#' style = "color:#5acb5a;font-size:20px;"> Star Student </a
                        {% endif %}
                    
                    </div>
                </a>
            </td>
            <td><a href="{% url 'update_assigned_list' assign.id %}" style = "color:yellow;font-size:20px;" >Click</a></td>
              <td><a href="{% url 'delete_assigned_list' assign.id %}" style = "color:orange;font-size:20px;">Delete</a></td>
              
          </tr>
          {% endfor %}
          {% else %}
            <br><br>
              <h1 align='center'> List Not Found <h1>  
          {% endif %}  

      </tbody>
  </table>
</div>
{% endblock content %}