{% extends 'app/base.html' %}  
{% block content %}

<style>
.container{
  margin-top:30px;
}
.text{
  font-size:40px;
}
</style>
<legend align="center" class="text"><b> List Of Student </b></legend>

<section class='text-left container'>
  <button href="" class="btn btn-primary" type="submit">
    <a href="{% url 'home' %}" style="color:white;" > Home</a>
  </button>
</section>
<h3>{{teacher}}</h3>


<div class="container">
  
  
  <table class="table table-striped table-bordered table-hover table-dark">
      <thead>          
          <tr>
              <th scope="col">Sr.no.</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Add to list</th>
              
   
          </tr>
      </thead>   
      <tbody> 
          
      {% for s in students %}
          <tr>       
              {% comment %} <td>{{ s.student.id}}</td>    {% endcomment %}
              <th scope="row">{{forloop.counter}}</th>
              <td>{{ s.first_name}}</td>   
              <td>{{ s.last_name}}</td>  
              <td><a href="{% url 'selectstudent's.id%}" style = "color:yellow;font-size:20px;" >Add</a></td>
            
        {% endfor %}

      </tbody>
  </table>
  
</div>
{% endblock content %}