{% extends 'app/base.html' %}  
{% block content %}

<style>
.container{
  margin-top:30px;
}
.text{
  font-size:40px;
}
</style>
<legend align="center" class="text"><b> List Of Teacher </b></legend>

<section class='text-left container'>
  <button href="" class="btn btn-primary" type="submit">
    <a href="{% url 'home' %}" style="color:white;" > Home</a>
  </button>
</section>

<div class="container">
  {% if object_list %}
  <table class="table table-striped table-bordered table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Sr.no.</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">Assigned student</th>
            <th scope="col">Select Student</th>
        </tr>
    </thead>
    
      {% for teacher in object_list %}
      <tbody>
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{teacher.first_name}}</td>
            <td>{{teacher.last_name}}</td>
            <td><a href="{% url 'update_teacher' teacher.id %}" style = "color:yellow;font-size:20px;" >Click</a></td>
            <td><a href="{% url 'delete_teacher' teacher.id %}" style = "color:orange;font-size:20px;">Delete</a></td>
            <td><a href="{% url 'selected_student' teacher.id %}" style = "color:orange;font-size:20px;">Click</a></td>
            <td><a href="{% url 'unassigned_students' teacher.id %}" style = "color:orange;font-size:20px;">Click</a></td>
            {% comment %} <td><a href="{% url 'assign_teacher' %}?id={{teacher.id}}" style = "color:orange;font-size:20px;">Click</a></td> {% endcomment %}
          </tr>
          {% endfor %}
          {% else %}
            <br><br>
              <h1 align='center'> Teacher Not Found <h1>  
          {% endif %}
      </tbody>
  </table>
</div>
{% endblock content %}